.wrapper {
  min-height: 100dvh;
  overflow: hidden;
  padding: 20px;
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 24px;
}

.notice {
  padding: 16px;
  background-color: lightgray;
  border-radius: 8px;
}

.boardWrapper {
  display: flex;
  border: 1px solid lightgray;
  border-radius: 8px;
  overflow: hidden;
}
